* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rowdies', cursive;
}

/* NAV SECTION */

.title-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem 0;
}

.game-title {
    color:rgb(0, 145, 218);
    font-size: 3rem;
}

.fa-solid:hover {
    cursor: pointer;
}

.fa-regular:hover {
    cursor: pointer;
}

.moon-dark {
    display: none;
}

.sun-light {
    display: none;
}

.nav-break {
    border-top:rgb(175, 228, 255) solid 2px;
}

/* LEVEL SELECTION */

.instruction-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0rem 0.5rem 0;
}

.instructions-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.instructions1 {
    margin: 0 1rem;
}

.tooltip-text {
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-family: 'Rowdies', cursive;
    color: white;
    background-color: rgb(0, 51, 141);
    border-radius: 15px;
    margin: 1rem;
    z-index: 1;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

.tooltip-title {
    text-decoration: underline;
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
}

.tooltip-instructions {
    margin: 1rem 0;
}

.or {
    margin: 1.5rem 0;
}

.instructions1, .number-buttons, .placeholder-selectors {
    color:rgb(0, 145, 218);
    font-size: 2rem;
}

.level-selector-buttons {
    margin: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.level-selector {
    margin: 0 1rem;
    padding: .5rem 3rem;
    border-radius: 25px;
    border: none;
    font-size: 1.25rem;
    font-family: 'Rowdies', cursive;
    transition: 0.3s;
}

.level-selector:hover {
    cursor: pointer;
    transform: translateY(-5px);
    background-color:rgb(175, 228, 255);
}

/* GAMEBOARD*/

.game-board-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center center;
    margin: 4px 4px;
}

.grid-item {
    max-width: 43px;
    max-height: 43px;
    min-width: 43px;
    min-height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin: 1.5px 1.5px;
    background-color:rgb(175, 228, 255);
}

.grid-item-select {
    border:rgb(0, 51, 141) solid 3px; 
}

.grid-item:hover {
    cursor: pointer;
    border:rgb(0, 51, 141) solid 3px;
}

/* START & SOLVE BUTTONS */

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.solve-button, .start-button {
    margin: 2rem .5rem;
    padding: .5rem 5rem;
    background-color:rgb(0, 145, 218);
    color: white;
    border-radius: 10px;
    transition: 0.3s;
    font-size: 1.5rem;
}

.start-button:hover {
    cursor: pointer;
    transform: translateY(-5px);
    color: white;
    background-color:rgb(0, 51, 141);
}

.solve-button:hover {
    cursor: pointer;
    transform: translateY(-5px);
    color: white;
    background-color:rgb(0, 51, 141);
}

/* TIMER */

.timer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1rem;
}

.timer {
    font-size: 2.5rem;
}

.fa-pause {
    display: none;
    margin: 0 2rem;
}

.fa-play {
    display: none;
    margin: 0 2rem;
}

.timer-dark {
    color: rgb(175, 228, 255);
}



/* NUMBER SELECTORS */

.number-selectors {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.number-tiles, .placeholder-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.number-tile, .placeholder-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40px;
    max-height: 40px;
    min-width: 40px;
    min-height: 40px;
    margin: 0 5px;
    padding: 10px 15px;
    border-radius: 8px;
    background-color:rgb(175, 228, 255);
    transition: 0.1s;
}

.number-tile:hover {
    cursor: pointer;
    transform: translateY(-5px);
    background-color:rgb(0, 51, 141);
    color: white;
}

.placeholder-tile:hover {
    cursor: pointer;
    transform: translateY(-5px);
    background-color:rgb(0, 51, 141);
    color: white;
}

/* FOOTER */

.credits {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.credit {
    color:rgb(0, 145, 218);;
}

/* DARK MODE */

.dark-mode-buttons {
    background-color:rgb(0, 145, 218);
    color: white;
}

.dark-mode-buttons:hover {
    background-color:rgb(0, 51, 141);
}

.break-dark-mode {
    border-top: rgb(0, 145, 218) 1px solid;
    border-bottom: rgb(0, 145, 218) 1px solid;
}

/* WINNER DECLARATION */

.winner-container {
    display: none;
    background: linear-gradient(rgb(175, 228, 255), rgb(0, 145, 218));
    border: black solid 3px;
    border-radius: 15px;
    position: fixed;
    z-index: 99
}

.close {
    width: inherit;
    display: flex;
    justify-content: end;
    align-items: center;
}

.close-button {
    margin: 0.75rem;
}

.close-button:hover {
    cursor: pointer;
}

.winner-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;
    margin-bottom: 1.5rem;
}

.winner-declaration, .winner-instructions, .time-winner {
    margin: 0.5rem;
}



